HOME_SSID=Hell's WiFi
HOME_PASSWORD=rectum_obliterator_666
MONITOR_IFACE=wlan1  # use the wifi interface that support monitor mode
SCAN_IFACE=wlan0 # can be any wifi interface, even the RPi's stock iface is ok